body {
    background-image: url(img/paper-flower-background-4794429_1920.jpg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
}

.profile-content {
    display: flex;
    margin-left: 100px;
    width: 100vw;
}

.profile {
    /* text-align: left; */
    background-image: url(./img/foto.jpeg);
    background-size: cover;
    /* background-position: left left; */
    width: 360px;
    height: 360px;
    max-width: 360px;
    max-height: 360px;
    border-radius: 50%;
}

.card1 {
    margin-left: 110%;
    margin-top: 10%;
    opacity: .5;
    background-color: rgb(204, 20, 20);
    height: 2em;
    width: 150px;
    top: 10px;
    text-align: center;
}

.content {
    text-align: center;
    /* margin-top: 100px; */
    font-size: xx-large;
}

#modes_menu ul {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    list-style: none;
    font-size: 25px;
}

#modes_menu ul li {
    padding-bottom: 5px;
    font-size: 20px;
    margin: 10px;
}


/* Clases nuevas */

.modes_menu {
    position: absolute;
    margin-top: -10px;
    margin-left: 80%;
    color: white;
    /* background: rgb(240, 122, 68); */
    background: rgb(136, 128, 128);
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(215, 217, 224, 0.8);
    border-radius: 5px;
    /* Transformaciones */
    transform-origin: left top;
}

.modes_menu--ocultar {
    display: none;
}

.icon {
    color: darkkhaki;
}

#modes-btn {
    margin-left: 90%;
    margin-top: 50px;
    font-size: 60px;
    border-radius: 15px;
    /* color: rgb(240, 122, 68); */
    color: #ffa600;
}

button {
    border-style: none;
    background: none;
}

.text {
    color: #ffa600;
    font-size: 55px;
}

.titulo p {
    font-size: 80px;
    margin-top: 0;
}

h2 {
    margin-top: 0;
}


/* Carousel */

.gallery {
    background: #EEE;
    width: 100vh;
}

.gallery-cell {
    width: 86%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}


/* cell number */

.gallery-cell:before {
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}


/*FORM*/

form {
    position: relative;
    width: 540px;
    height: 380px;
    margin: 0 auto;
    background: #FFF url(img/white-painted-concrete-wall-888895_1920.jpg);
    border-radius: 20px;
    box-shadow: solid 10px black;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid 2px rgb(240, 237, 240);
}

h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
}

input,
label,
textarea {
    display: block;
    position: relative;
    left: 30%;
    top: -15px;
    border-radius: 8px;
    padding: 10px;
}

textarea {
    border: solid 2px black;
}

.btn {
    display: block;
    position: absolute;
    left: 40%;
    border-radius: 8px;
    padding: 10px;
    background: #ffa600;
    font: bold;
    border: solid 2px cornsilk;
}


/* SKILLS */

#icon {
    width: 100px;
    height: 60px;
    margin-top: -10px;
}

#icon2 {
    border-radius: 20px;
}

.skill {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: -10px;
}

.skills {
    display: block;
}

.skill1 {
    width: 150px;
    height: 120px;
    margin: 25px;
    margin-top: 10%;
}

.skill2 {
    width: 150px;
    height: 200px;
    margin: 25px;
    margin-top: -40px;
}

.skill3 {
    width: 150px;
    height: 200px;
    margin-left: 65%;
    margin-top: -130%;
}


/* Carousel */

.port {
    text-align: center;
    margin-top: 20%;
    font-size: 40px;
    text-shadow: 2px 1px #eff3f3;
}

.main-gallery {
    background-color: rgba(24, 23, 23, 0.383);
    margin-top: -8%;
    width: 100vw;
    height: 46vw;
}

.list-group {
    margin-left: 90px;
    margin-right: 90px;
}

.project {
    margin-top: 10%;
}


/* Footer*/

footer {
    background-color: rgb(85, 83, 83);
    padding: 20px;
    border-radius: 2px;
    width: 100vw;
}

ul {
    display: flex;
    justify-content: center;
}

ul li {
    margin: 15px;
    list-style: none;
}

.copy {
    text-align: center;
    font-size: 20px;
    color: azure;
}


/* btn*/

.boton {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 40px;
    background: linear-gradient(90deg, #646564, #6C6D6A);
    margin-left: 70%;
    margin-top: -80%;
    border: solid 1px oldlace;
}

.boton {
    margin-top: -80px;
    margin-bottom: 50%;
}

.card {
    display: inline-block;
    width: 150vh;
    height: 50vh;
    margin-left: 10%;
    margin-right: 20%;
    background-color: rgb(110, 107, 107);
}

.card2 {
    width: 150vh;
    height: 50vh;
    margin-left: 10%;
    margin-right: 20%;
    background-color: rgb(172, 167, 167);
    border-radius: 20px;
}

.card-body {
    display: inline-block;
    width: 100vh;
    height: 50vh;
    margin-left: 10%;
    margin-right: 20%;
    background-color: rgb(172, 167, 167);
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    color: lavenderblush;
}